* {
	box-sizing: border-box;
}
body {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	min-width: 100%;
	margin: 10px 0;
}
.controls {
	width: 420px;
	margin: 0 5px 10px;
}
.controls label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}
.controls .grow-input {
	width: 300px;
	display: flex;
}
.controls .grow-input input,
.controls .grow-input textarea {
	flex-grow: 1;
}
.break-all {
	word-break: break-all;
}
#err {
	color: red;
	margin-bottom: 10px;
}
#canvas {
	box-shadow: 0 0 5px #0005;
}